<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HelloWorld.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HelloWorld.Properties.Settings>
            <setting name="AppKey" serializeAs="String">
                <value>3144613310</value>
            </setting>
            <setting name="AppSecret" serializeAs="String">
                <value>410a4ef5b6b1644ddc919554d20cdec3</value>
            </setting>
            <setting name="CallbackUrl" serializeAs="String">
                <value>http://weibo.com/wehelloworld</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="Passport" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </HelloWorld.Properties.Settings>
    </userSettings>
</configuration>